
.package{
    margin: 3rem 15rem;
    max-width: 77rem;
    & .package-info{
        margin-bottom: 6rem;
        & h1{
            margin: 2rem 0;
        }
        & h4{
            margin: 2rem 0 1rem 0;
        }
    }
}