
.package{
    background-color: $color-primary;

    & .package-info{
        margin: 3rem 15rem;
        max-width: 77rem;
        margin-bottom: 6rem;
        & h1{
            margin: 2rem 0;
        }
        & h4{
            margin: 2rem 0 1rem 0;
        }
    }
}